html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root{
    --cor-de-fundo: rgb(2, 1, 14);
    --cor-layout: #13141e;
    --cor-fundo-text: #464649d0;
    --cor-letra-clara: rgb(190, 189, 194);
    --cor-btn: #295892;
    --cor-branco: rgba(240, 240, 240, 0.822);
}

/* :root.container{
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-layout: #13141e;
    --cor-fundo-text: #464649d0;
    --cor-letra-clara: rgb(190, 189, 194);
    --cor-btn: #295892;
    --cor-branco: rgba(240, 240, 240, 0.822);
} */


body{
    background-color: var(--cor-de-fundo);
    width: 1vw;
}

.container {
    display: grid;
    width: 1349px;
    grid-template-columns: 160px 1fr; 
    grid-template-rows: 80px 420px 1fr;
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 
}

.header{
    height: 80px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.spacement-header{
    height: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    margin-bottom: 0;
}

.main{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    padding: none;
    border: none;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px; */

}

.aside{
    z-index: 2;
    margin-top: 150px;
    margin-left: 60px;
    padding: 5px;
    height: 150px;
    width: 60px;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
    border: 3px solid var(--cor-branco);
    position: fixed;
    border-radius: 50px;
}

/* .spacement-aside{
    height: 600px;
    width: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
} */

.header-container{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.footer{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 1339px;
    background-color: var(--cor-btn);
    position: absolute;
    margin-top: auto;
    clear: both;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--cor-branco);
    padding: 20px 0 10px 10px;
    justify-content: space-between;
}

.search{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    position: relative;
}

.search-text{
    height: 30px;
    width: 160px;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--cor-fundo-text);
    border: none;
    padding-left: 10px;
}

.search-button{
    height: 30px ;
    width: 30px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: var(--cor-btn);
    color: white;
    border: none;
    font-size: 20px;
}

.link-aside{
    width: 40px;
    height: 40px;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    filter: invert(90%);
    margin-left: 10px;
    margin-top: 30px;
}

.fa-home, .fa-file-video{
    color: var(--cor-branco);
    font-size: 40px;
}

.fa-home{
    padding: 15px 7px
}

.fa-file-video{
    padding: 15px 15px
}

.fa-file-video:hover{
    color: #295892;
}

.fa-home:hover{
    color: #295892;
}

.redes{
    padding-left: 740px;
}

.fa-instagram, .fa-facebook-square{
    font-size: 40px;
    color: var(--cor-branco);
    margin: 0 10px;
}

.fa-instagram:hover{
    color: var(--cor-layout);
}

.fa-facebook-square:hover{
    color: var(--cor-layout);
}

.container-movies{
    margin: 30px;
    display: flex;
    flex-direction: row;
    padding: none;
}

.cont-img-name{
    z-index: 1;
}

.image{
    width: 200px;
    height: 300px;
    border-radius: 5px;
    z-index: 3;
}

.image:hover{
    transform: scale(120%);
}

.title{
    font-size: 15px;
    color: var(--cor-letra-clara);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

.infos{
    width: 300px;
    height:300px;
    background-color: #4a4c50;
    border-radius: 5px;
    margin: 0;
    z-index: 1;
}

label{
    transform: translateX(-200px);
    transform: rotateY(90deg);
    width: 0;
    height: 300px;
    margin: 0;
    z-index: 1;
    padding: 0;
    font-size: 0;
}

input[type=checkbox]:checked + label {
    animation: swip 0.3s;
    transform: rotateY(0deg);
    width: 300px;
  } 


@keyframes swip{
    0%{
        opacity: 0%;
        transform: translateX(-200px);
    }
    
    30%{
        opacity: 0%;
    }

    100%{
        transform: translateX(0);
        opacity: 100%;
    }
}
.button-hiden{
    width: 200px;
    height: 35px;
    appearance: none;
    transform: translateY(300px);
    z-index: 1;
    position: absolute;
}

.especify{
    padding: 10px;
    font-size: 17px;
    color: rgb(190, 189, 194);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.edit-e-delete{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.especify button{
    border: 3px solid #295892;
    color: rgb(190, 189, 194);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: transparent;
    width: 100px;
    height: 30px;
    margin: 5px 30px 0 10px;
    border-radius: 10px;
    padding-top: 3px;
}

.img-edit{
    width: 200px
    ;
}

.container-poster{
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 1349px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: var(--cor-de-fundo);
    margin: 0;
}

.image-poster{
    width: 1349px;
    height: 800px;
    position: static;
    /* border-radius: 30px; */
    animation: slide 100s infinite; /*!!  20-200  !!*/

    -webkit-mask-image: linear-gradient(to right,rgba(0, 0, 0, 0.01)30%, rgba(0, 0, 0, 0.363)60%, rgb(2, 1, 14)100%);
    mask-image: linear-gradient(to top, transparent 5%, black 100%);
    animation-timing-function:cubic-bezier(.08,.04,0,.98)
}

@keyframes slide{
    9%{transform: translateX(0);}
    10%{transform: translateX(-1349px);}
    19%{transform: translateX(-1349px);}
    20%{transform: translateX(-2698px);}
    29%{transform: translateX(-2698px);}
    30%{transform: translateX(-4047px);}
    39%{transform: translateX(-4047px);}
    40%{transform: translateX(-5396px);}
    49%{transform: translateX(-5396px);}
    50%{transform: translateX(-6745px);}
    59%{transform: translateX(-6745px);}
    60%{transform: translateX(-8094px);}
    69%{transform: translateX(-8094px);}
    70%{transform: translateX(-9443px);}
    79%{transform: translateX(-9443px);}
    80%{transform: translateX(-10792px);}
    89%{transform: translateX(-10792px);}
    90%{transform: translateX(-12141px);}
    99%{transform: translateX(-12141px);}
    100%{transform: translateX(-13490px);}
}

/* .gradient{
    height: 500px;
    width: 1349px;
    margin: 0;
    background:linear-gradient(to left, rgba(0, 0, 0, 0.247), rgb(2, 1, 14)80%);
    opacity: 0.2;
    position: relative;
    animation: slide 1000s infinite; 
    animation-timing-function:cubic-bezier(.08,.04,0,.98)
*/

.poster-box{
    display: flex;
    width: 300px;
    flex-direction: row;
    position: relative;
    width: 0;
    font-size: 30px;
    position: relative;
    left: -1130px;
    top: 150px;
    color: var(--cor-branco);
    animation: name-rating 100s infinite;
}

.poster-box2{
    width: 300px;
}

.write-poster{
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    color: cornsilk;
    margin-bottom: 30px;
}

.title-poster{
    font-size: 50px;
    font-weight: bold;
}

@keyframes name-rating{
    9%{transform: translateX(0);}
    10%{transform: translateX(-1349px);}
    19%{transform: translateX(-1349px);}
    20%{transform: translateX(-2698px);}
    29%{transform: translateX(-2698px);}
    30%{transform: translateX(-4047px);}
    39%{transform: translateX(-4047px);}
    40%{transform: translateX(-5396px);}
    49%{transform: translateX(-5396px);}
    50%{transform: translateX(-6745px);}
    59%{transform: translateX(-6745px);}
    60%{transform: translateX(-8094px);}
    69%{transform: translateX(-8094px);}
    70%{transform: translateX(-9443px);}
    79%{transform: translateX(-9443px);}
    80%{transform: translateX(-10792px);}
    89%{transform: translateX(-10792px);}
    90%{transform: translateX(-12141px);}
    99%{transform: translateX(-12141px);}
    100%{transform: translateX(-13490px);}
}

.logo-adapti{
    height: 50px;
    margin-top: 5px;
    margin-left: 50px;
    position: relative;
}

/* .form-flex{
    height: 500px;
    width: 1000px;
    background-color: transparent;
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr; 
    grid-template-rows: 20% 20% 10% 10% 20% 20%; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."; 
} */

#form-create, #form-edit{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 500px;
    width: 1000px;
    margin-top: 10px;
    /* margin-left: 200px; */
    margin-bottom: 200px;
    position: relative;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: 2fr 1fr 1fr; 
    grid-template-rows: 20% 20% 10% 10% 20% 20%; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."; 
}
.create-area, .edit-area{
    background-color: var(--cor-fundo-text);
    border-radius: 5px;
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: var(--cor-branco);
}

.div-create, .div-edit{
    padding: 30px 30px 40px 30px;
}

.create-description, .edit-description{
    font-size: 20px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-letra-clara);
}

.title-create-container, .title-edit-container{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.genre-create-container, .genre-edit-container{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.country-create-container, .country-edit-container{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.realese-create-container, .realese-edit-container{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.rating-create-container, .rating-edit-container{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.synopsis-create-container, .synopsis-edit-container{
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.file-create1-container, .file-edit1-container{
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}

.file-create2-container, .file-edit2-container{
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}

.img-edit{
    width: 100px;
    margin-left: 50px;
    position: relative;
    top: -155px;
}

.img-poster-edit{
    width: 150px;
    margin: 25px 0 0 25px;
    position: relative;
    top: -150px;
}

.save-button{
    border: none;
    margin-top: 30px;
    padding: 10px 20px;
    justify-self: end;
    background-color: var(--cor-btn);
    font-size: 20px;
    color: var(--cor-letra-clara);
    border-radius: 30px;
}

@media (max-width: 800px){
    .header{
        width: 70%;
    }
    .container-poster{
        width: 800px;
    }
    .main{
        width: 70%;
    }
}

@media (max-width: 400px){
    .main{
        width: 50%;
    }
}
